/*@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&family=Ultra&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Permanent+Marker&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Roboto+Slab&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap');




/*@font-face {
    font-family: 'Baskerville Normal';
    font-style: normal;
    font-weight: normal;
    src: local('Baskerville Normal'), url('baskvl.woff') format('woff');
    }*/

*{
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body{
    margin :0px;
    text-align: center;

}

.name {
    font-size: 50px;
    margin-bottom: -5px;
    font-family: 'Permanent Marker';

}

.name:hover{
    /*background: -webkit-linear-gradient(#B6E5D8, #21B6A8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: left 2s;*/
    opacity: 80%;
}

header {
    left: 0;
    right: 0;
    margin: 1em;
}

nav ul {
    align-items: center;
    margin:0;
    padding: 0;
    list-style: none;
 
}

nav li {
  display: inline-block;
    margin: 1em;
   
}

nav a {
    font-weight:900 ;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    padding: .5em;
    color: #8c8c8c;
}

nav a:hover, 
nav a:focus {
    color: #cbcba9;
}

@media screen and (max-width: 600px) {

    nav ul{
       display: flex;
       flex-wrap: wrap;
       align-items: center;
    }

    nav li{
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .name {
        font-size: 30px;
    }

    nav li{
        margin: 0.5em;
    }

    nav a {
        font-size: .9rem;
    }



}
  

  
.unstyled-list {
    margin:0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    color: gray;
  }
  
  
  footer {
   
    background-color: #fff;
    text-align: left;
    padding: 1em 0;
    width: 100%;
    margin-top: 1em;
  }

   
  